@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

* {
  margin: 0
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
    background-image: linear-gradient(rgb(21, 16, 16), rgb(62, 6, 108));
  
  height: 100vh;
  font-family: sans-serif;
}

.app {
  margin-top: 50px;
  width: 60%;
}

@media (max-width:768px) {
  .app {
    width: 90%;
  }
}

.app h1 {
  color: rgb(236, 10, 145);
  font-size: 40px;
  padding: 10px 0;
  text-align: center;
  border-radius: 20px;
  background-color: #3b023a;
  font-family: "Rajdhani", sans-serif;

}

.app form {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: #262e4c;
  border-radius: 30px;
}

.app form input {
  border: none;
  background-color: #55099b;
  font-size: 18px;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  width: 90%;
}

.app form button {
  border: none;
  color: white;
  background-color: #1dd2af;
  font-size: 25px;
  font-weight: 600;
  height: 42px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 17%;
}

.app ul {
  list-style: none;
  color: #e0e0e0;
  padding: 0;
}

.app ul li {
  padding: 10px;
  background-color: #262e4c;
  border-bottom: 1px solid #3a4674;
  border-radius: 13px;
}

.check {
  width: 0.8em;
  height: 0.8em;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  --webkit-appearance: none;
}

.check:checked {
  background-color: #1dd2af;
}

.task {
  font-size: 18px;
  padding: 0 10px;
  width: fit-content;
  background: transparent;
  border: none;
  color: #fff;
}

.task:focus {
  outline: none;
}

.app ul li i {
  float: right;
  cursor: pointer;
}

.app ul li i:hover {
  color: rgb(255, 82, 82);
}

.completed {
  color: rgba(192, 192, 192, 0.8);
  text-decoration: line-through;
}